<div class="container" style="padding:30px;">
  <div class="row">
    <div class="col-md-12" align="center">
      <h2>Veuillez confirmer</h2>
    </div>
  </div>

  <div class="demo-dialog-content">
    <p>
      Vous êtes sur le point de supprimer le client
    </p>

  </div>

  <div align="center">
    <button class="btn btn-primary" ng-click="ctrl.deleteClient()">
      Confirmer
    </button>
    <button class="btn" ng-click="ctrl.closeDialog()">
      Annuler
    </button>
  </div>
</div>
