
<div class="footer-wrapper">
	<div class="footer">
		<div class="footer-widgets">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-3">
						<div class="widget right-border">
							<h2 class="widgettitle"><img src="assets/img/logo.png" alt="Materialist"></h2>

							<p>
							</p>
						</div><!-- /.widget -->
					</div><!-- /.col-* -->

					<div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-1">
						<div class="widget right-border">
							<h2 class="widgettitle">Social</h2>

							<ul class="nav nav-stacked">
								<li class="nav-item"><a href="#" class="nav-link">Facebook</a></li>
								<li class="nav-item"><a href="#" class="nav-link">Twitter</a></li>
								<li class="nav-item"><a href="#" class="nav-link">LinkedIn</a></li>
								<li class="nav-item"><a href="#" class="nav-link">Google Plus</a></li>
							</ul>
						</div><!-- /.widget -->
					</div>

					<div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-1">
						<div class="widget right-border">
							<h2 class="widgettitle">Pages</h2>

							<ul class="nav nav-stacked">
                                <li class="nav-item"><a href="#!/app/privacy" class="nav-link">Privacy Policy</a></li>
                                <li class="nav-item"><a href="#!/app/terms" class="nav-link">Terms of Service</a></li>  
							</ul>
						</div><!-- /.widget -->
					</div><!-- /.col-* -->						

					
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.footer-widgets -->

		<div class="footer-top">
			<div class="container">
				
				<div class="footer-top-right">
					<a class="footer-top-action">
						<i class="md-icon">vertical_align_top</i>
					</a><!-- /.footer-top-action -->

					<ul class="nav nav-pills">
					</ul>
				</div><!-- /.footer-top-right -->
			</div><!-- /.container -->
		</div><!-- /.footer-top -->
	</div>
</div>