<div class="modal-body">
    <div class="ec-modallogin-form ec-login-popup" ng-show="logctrl.mode === 1">
        <span class="ec-color">Connectez vous avec votre compte</span>
        <form>
            <ul>
                <li ng-repeat="err in logctrl.errors">
                    <div class="alert alert-danger">
                        <strong>
                            <i class="fa fa-fw fa-exclamation"></i>
                        </strong> {{err}}
                    </div>
                </li>
                <li>
                    <input type="text" name="email" ng-model="login.email" placeholder="Votre email"> </li>
                <li>
                    <input type="password" name="password" ng-model="login.passwd" placeholder="Mot de passe"> </li>
                <li>
                    <a href="javascript:;" ng-click="logctrl.mode = 3; logctrl.errors= [];" class="ec-forgot-btn">Mot de passe oublié ?</a>
                </li>
                <li>
                    <input type="submit" value="Connexion" ng-click="logctrl.login()" ng-disabled="!login.email || !login.passwd"> </li>
            </ul>
        </form>
        <span class="ec-color">Ou avec vos réseaux sociaux</span>
        <ul class="ec-login-social-media">
            <li>
                <a href="{{logctrl.apiUri}}/auth/facebook">
                    <i class="fa fa-facebook"></i> Facebook</a>
            </li>
            <li class="ec-twitter-color">
                <a href="{{logctrl.apiUri}}/auth/twitter">
                    <i class="fa fa-twitter"></i> twitter</a>
            </li>
            <li class="ec-googleplus-color">
                <a href="{{logctrl.apiUri}}/auth/google">
                    <i class="fa fa-google-plus-square"></i> Google+</a>
            </li>
        </ul>
        <p>Pas encore de compte ?
            <a ng-click="logctrl.mode = 0" href="javascript:;">Inscrivez vous !</a>
        </p>
    </div>

    <div class="ec-modallogin-form ec-register-popup" ng-show="logctrl.mode === 0">
        <span class="ec-color">Créez votre compte en quelques clics</span>
        <form>
            <ul>
                <li ng-repeat="err in logctrl.errors">
                    <div class="alert alert-danger">
                        <strong>
                            <i class="fa fa-fw fa-exclamation"></i>
                        </strong> {{err}}
                    </div>
                </li>
                <li>
                    <input type="text" ng-model="su.firstName" placeholder="Prénom"> </li>
                <li>
                    <input type="text" ng-model="su.lastName" placeholder="Nom"> </li>
                <li>
                    <input type="text" ng-model="su.email" placeholder="Votre email"> </li>
                <li>
                    <input type="password" ng-model="su.password" placeholder="Mot de passe"> </li>
                <li>
                    <input type="password" ng-model="su.password2" placeholder="Confirmez le mot de passe"> </li>
                <li>
                    <div class="col-md-6">
                        <input class="col-md-12 btn-success" type="submit" ng-click="logctrl.signup(false, true)" value="Je suis particulier">
                    </div>
                    <div class="col-md-6">
                        <input class="col-md-12 btn-warning" type="submit" ng-click="logctrl.signup(true)" value="Je suis professionnel">
                    </div>
                </li>
            </ul>
        </form>
        <span class="ec-color">Ou inscrivez vous avec vos réseaux sociaux:</span>
        <ul class="ec-login-social-media">
            <li>
                <a href="{{logctrl.apiUri}}/auth/facebook">
                    <i class="fa fa-facebook"></i> Facebook</a>
            </li>
            <li class="ec-twitter-color">
                <a href="{{logctrl.apiUri}}/auth/twitter">
                    <i class="fa fa-twitter"></i> twitter</a>
            </li>
            <li class="ec-googleplus-color">
                <a href="{{logctrl.apiUri}}/auth/google">
                    <i class="fa fa-google-plus-square"></i> Google+</a>
            </li>
        </ul>
        <p>Déjà membre ?
            <a ng-click="logctrl.mode = 1" href="javascript:;">Connectez vous !</a>
        </p>
    </div>

    <!-- recover pass -->

    <div class="ec-modallogin-form ec-register-popup" ng-show="logctrl.mode === 3">
        <span class="ec-color">Forgot your password? Let's get you a new one.</span>
        <form>
            <ul>
                <li ng-repeat="err in logctrl.errors">
                    <div class="alert alert-danger">
                        <strong>
                            <i class="fa fa-fw fa-exclamation"></i>
                        </strong> {{err}}
                    </div>
                </li>
                <li ng-repeat="success in logctrl.success">
                    <div class="alert alert-success">
                        <strong>
                            <i class="fa fa-fw fa-exclamation"></i>
                        </strong> {{success}}
                    </div>
                </li>
                <li>
                    <input type="text" ng-model="restore.restoreEmail" placeholder="Votre email"> </li>
                    <li>
                            <input type="submit" value="Reset Your Password "                                 ng-click="logctrl.restorePassword()"                          ng-disabled="!restore.restoreEmail"> 

                            <a ng-click="logctrl.mode = 1; logctrl.errors= []; logctrl.success= [];" href="javascript:;" class="ec-cancel-btn">Cancel</a>
                        </li>
                
                        
                </li>
            </ul>
        </form>

        
            
        
    </div>


</div>